<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @miningtype.name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @miningtype.acronym %>
</p>

<%= link_to 'Edit', edit_miningtype_path(@miningtype) %> |
<%= link_to 'Back', miningtypes_path %>
